#navbar{
    flex-direction: column;
}
#navbar ul li a {
    font-size: 15px;
        padding: 0px 12px;}


/* home section */
#home h1{
    font-size: 18px;
}
#home{
    padding: 3px 101px;
}
/* about me section */
 #aboutme.box{
    width: 100%;
    border-radius: 35px;
    margin: 13px 11px;
 }
 /* .aboutme{display: flex;
     flex-direction: column;
 } */

 /* #aboutme{
     flex-direction: column;
 } */
.aboutme h1 {
    font-size: 3rem;}   
   
    




/* utility classes */
.h-primary{
    font-size: 46px ;
}


.h-secondary {
    font-size: 34px;}
    
    